[Unit]
Description=Discord Zulip bridge
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=%h/discord-zulip-bridge
ExecStart=/usr/bin/node main.js
Restart=always
RestartSec=5
SyslogIdentifier=bridge

[Install]
WantedBy=default.target
